{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

   {% block content %}
    <div class="content-wrapper">
                <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
                <div class="col-sm-6">
                  <h2 class="m-0">Category list</h2>
                </div><!-- /.col -->
                
                
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                     <li class="breadcrumb-item active">Category list</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
     <div class="card card-secondary card-outline mx-3">
    <div class="card-header text-center">

    {{ include('category1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category1_index') }}">back to list</a>
     </div>
      </div>

    
{% endblock %}
{% endblock %}
