{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
   
{% block body %}
    {% block content %}
    <div class="content-wrapper">
                <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0">Edit User</h1>
                </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                     <li class="breadcrumb-item active">Edit User</li>
                </ol>
                 
            </div><!-- /.col -->
             
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  {% endblock %}
      <div class="card card-secondary card-outline mx-5">
         <div class="card-header text-center">
          {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    
                        
                         <a href="{{ path('app_user_index') }}">back to list</a>
                            
      </div>
      </div>
    
{% endblock %}

